---
name: Main
on: [push, pull_request]

jobs:
  should-run:
    name: Should run
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    outputs:
      should-run: ${{ steps.action.outputs.should-run }}
    steps:
      - id: action
        uses: techneg-it/should-workflow-run@eff19348eb884f57e05bc6f05ae48ece3af14714 # v1.0.1
  pre-commit:
    name: Run `pre-commit`
    needs: should-run
    if: fromJSON(needs.should-run.outputs.should-run)
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.14.3
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
  test:
    name: Test the action
    needs: should-run
    if: fromJSON(needs.should-run.outputs.should-run)
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - id: test-override-no_pr
        name: test-override-no_pr
        uses: ./
        with:
          branch-name: test-no_pr-DONOTREMOVE
          override: true
      - run: |
          [[ ${{ steps.test-override-no_pr.outputs.should-run }} == "true" ]]
      - id: test-override-pr
        name: test-override-pr
        uses: ./
        with:
          branch-name: test-pr-DONOTREMOVE
          override: true
      - run: |
          [[ ${{ steps.test-override-pr.outputs.should-run }} == "true" ]]
      - id: test-no_pr
        name: test-no_pr
        uses: ./
        with:
          branch-name: test-no_pr-DONOTREMOVE
          override: false
      - run: |
          [[ ${{ steps.test-no_pr.outputs.should-run }} == "true" ]]
      - id: test-pr
        name: test-pr
        uses: ./
        with:
          branch-name: test-pr-DONOTREMOVE
          override: false
      - run: |
          [[ ${{ steps.test-pr.outputs.should-run }} == "false" ]]
      - id: test-pr_from_fork_main
        name: test-pr_from_fork_main
        uses: ./
        with:
          branch-name: main
          override: false
      - run: |
          [[ ${{ steps.test-pr_from_fork_main.outputs.should-run }} == "true" ]]
  results:
    name: Collect results
    permissions:
      checks: read
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: poseidon/wait-for-status-checks@899c768d191b56eef585c18f8558da19e1f3e707 # v0.6.0
        with:
          ignore: Collect results
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Run `semantic-release`
        uses: codfish/semantic-release-action@6abd188d2458e2fd6c99073454f6cc49196362e8 # v5.0.0
        id: sem-rel
        with:
          plugins: |
            [ "@semantic-release/commit-analyzer",
              "@semantic-release/release-notes-generator",
              "@semantic-release/github"
            ]
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Update branch for major version
        if: steps.sem-rel.outputs.new-release-published == 'true'
        run: git push
             https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
             HEAD:refs/heads/v${{steps.sem-rel.outputs.release-major}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
